# Development local DB (used when ENV=development)
ENV=development

# Auth
BETTER_AUTH_SECRET="your-better-auth-secret"
BETTER_AUTH_URL="http://localhost:3000"

# Google
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

# Development local DB (used when ENV=development)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=next_lms

# Production & testing (used otherwise)
DB_URL="your-neon-url"

# Shared/other
DB_TYPE=postgresql

# Resend
RESEND_API_KEY="your-resend-api-key"
EMAIL_SENDER_NAME="warrior"
EMAIL_SENDER_ADDRESS="orcdev.com"
